<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaituo.pms.dao.AllpertaskUserMapper">

    <insert id="adduser" keyProperty="user_allpertask_id" parameterType="java.lang.Integer">
	 insert into p_allpertask_user (allpertask_id,user_id)
     values (#{allpertask_id,jdbcType=INTEGER},#{user_id,jdbcType=INTEGER})
	</insert>

    <select id="findAllpertask" parameterType="java.lang.Integer" resultType="com.kaituo.pms.bean.AllpertaskUser">
        select *
        from p_allpertask_user
        where user_id=#{user_id,jdbcType=INTEGER}
    </select>

    <select id="findpertask1" parameterType="java.lang.Integer" resultType="com.kaituo.pms.DTO.AllpertaskDTO">
        select * from(select tu.*,t.user_finishtime,t.user_gettime,t.user_status,t.user_id from p_allpertask tu LEFT JOIN p_allpertask_user t ON tu.allpertask_id=t.allpertask_id)aa
        where aa.allpertask_status &lt;2 and  aa.user_status=1 AND aa.user_id=#{user_id,jdbcType=INTEGER}
    </select>

    <select id="findpertask2" parameterType="java.lang.Integer" resultType="com.kaituo.pms.DTO.AllpertaskDTO">
        select * from(select tu.*,t.user_finishtime,t.user_gettime,t.user_status,t.user_id from p_allpertask tu LEFT JOIN p_allpertask_user t ON tu.allpertask_id=t.allpertask_id)aa
        where aa.allpertask_status &lt;3 and  aa.user_status=2 AND aa.user_id=#{user_id,jdbcType=INTEGER}
    </select>

    <select id="findpertask3" parameterType="java.lang.Integer" resultType="com.kaituo.pms.DTO.AllpertaskDTO">
      select * from(select tu.*,t.user_finishtime,t.user_gettime,t.user_status,t.user_id from p_allpertask tu LEFT JOIN p_allpertask_user t ON tu.allpertask_id=t.allpertask_id)aa
        where  aa.user_status=3 AND aa.user_id=#{user_id,jdbcType=INTEGER}
    </select>

    <delete id="deleteAllpertaskUser" parameterType="java.lang.Integer">
		delete from p_allpertask_user
		where allpertask_id=#{allpertask_id,jdbcType=INTEGER}
		and user_status=0
	</delete>

    <select id="findAllpertask_userid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select user_id
        from p_allpertask_user
        where allpertask_id=#{allpertask_id,jdbcType=INTEGER}
        and user_status >0
    </select>

    <update id="updateuserbyids"  parameterType="com.kaituo.pms.bean.AllpertaskUser">
        update p_allpertask_user
        set   user_status=#{allpertaskUser.user_status,jdbcType=TINYINT},
              user_gettime=#{allpertaskUser.user_gettime,jdbcType=TIMESTAMP},
              user_finishtime=#{allpertaskUser.user_finishtime,jdbcType=TIMESTAMP}
        where allpertask_id=#{allpertaskUser.allpertask_id,jdbcType=INTEGER}
        and  user_id=#{allpertaskUser.user_id,jdbcType=INTEGER}
        and user_status=0
    </update>

    <update id="updateuserbyids2"  parameterType="com.kaituo.pms.bean.AllpertaskUser">
        update p_allpertask_user
        set   user_status=#{allpertaskUser.user_status,jdbcType=TINYINT},
              user_gettime=#{allpertaskUser.user_gettime,jdbcType=TIMESTAMP},
              user_finishtime=#{allpertaskUser.user_finishtime,jdbcType=TIMESTAMP}
        where allpertask_id=#{allpertaskUser.allpertask_id,jdbcType=INTEGER}
        and  user_id=#{allpertaskUser.user_id,jdbcType=INTEGER}
        and user_status=1
    </update>

    <update id="updateuserbyids3"  parameterType="com.kaituo.pms.bean.AllpertaskUser">
        update p_allpertask_user
        set   user_status=#{allpertaskUser.user_status,jdbcType=TINYINT},
              user_gettime=#{allpertaskUser.user_gettime,jdbcType=TIMESTAMP},
              user_finishtime=#{allpertaskUser.user_finishtime,jdbcType=TIMESTAMP}
        where allpertask_id=#{allpertaskUser.allpertask_id,jdbcType=INTEGER}
        and  user_id=#{allpertaskUser.user_id,jdbcType=INTEGER}
        and user_status=2
    </update>

    <select id="findAllpertaskbyids" parameterType="java.lang.Integer" resultType="com.kaituo.pms.bean.AllpertaskUser">
        select *
        from p_allpertask_user
        where user_id=#{user_id,jdbcType=INTEGER}
        and allpertask_id=#{allpertask_id,jdbcType=INTEGER}
        and user_status>0
    </select>

    <select id="findAllpertaskbyid0" parameterType="java.lang.Integer" resultType="com.kaituo.pms.bean.AllpertaskUser">
        select *
        from p_allpertask_user
        where user_id=#{user_id,jdbcType=INTEGER}
        and allpertask_id=#{allpertask_id,jdbcType=INTEGER}
        and user_status=0
    </select>

    <select id="find_allpertaskfinish"  resultType="com.kaituo.pms.bean.AllpertaskUser">
        select *
        from p_allpertask_user
        where user_status=2
    </select>

    <select id="findAllpertaskbyids1" resultType="com.kaituo.pms.bean.AllpertaskUser">
         select *
        from p_allpertask_user
        where user_id=#{user_id,jdbcType=INTEGER}
        and allpertask_id=#{allpertask_id,jdbcType=INTEGER}
        and user_status = 1
    </select>

    <update id="updateTOfinish" parameterType="com.kaituo.pms.bean.AllpertaskUser">
        update p_allpertask_user
        set   user_status=#{allpertaskUser.user_status,jdbcType=TINYINT}
        where allpertask_id=#{allpertaskUser.allpertask_id,jdbcType=INTEGER}
        and  user_id=#{allpertaskUser.user_id,jdbcType=INTEGER}
        and user_status=2
    </update>

    <update id="updateTOnofinish"  parameterType="com.kaituo.pms.bean.AllpertaskUser">
        update p_allpertask_user
        set   user_status=#{allpertaskUser.user_status,jdbcType=TINYINT},
              user_finishtime=#{allpertaskUser.user_finishtime,jdbcType=TIMESTAMP}
        where allpertask_id=#{allpertaskUser.allpertask_id,jdbcType=INTEGER}
        and  user_id=#{allpertaskUser.user_id,jdbcType=INTEGER}
        and user_status=1
    </update>

    <select id="findpertask00" parameterType="java.lang.Integer" resultType="com.kaituo.pms.DTO.AllpertaskDTO">
        select * from(select tu.*,t.user_finishtime,t.user_gettime,t.user_status,t.user_id from p_allpertask tu LEFT JOIN p_allpertask_user t ON tu.allpertask_id=t.allpertask_id)aa
        where aa.allpertask_status &lt;2 and  aa.user_status=1
    </select>

</mapper>