<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaituo.pms.dao.AllpertaskUserMapper">

    <insert id="adduser" parameterType="java.lang.Integer" >
	 insert into p_allpertask_user (user_id,allpertask_id)
     values (#{user_id,jdbcType=INTEGER},#{allpertask_id,jdbcType=INTEGER})
	</insert>

    <!--<select id="findAllpertask" parameterType="java.lang.Integer" resultType="com.kaituo.pms.bean.AllpertaskUser">-->

    <!--</select>-->
</mapper>