<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaituo.pms.dao.AllpertaskMapper">
    <select id="findcronbyid" parameterType="java.lang.Integer" resultType="com.kaituo.pms.bean.Allpertask">
	    select
	    	*
	    from
	    	p_allpertask
	    where
	    	allpertask_id = #{allpertask_id,jdbcType=INTEGER}
	</select>

	<insert id="addAllpertask" parameterType="java.lang.Integer" >
	 insert into p_allpertask
	 (allpertask_name,allpertask_difficulty,allpertask_price
	 ,allpertask_award,allpertask_time,allpertask_starttime,allpertask_endtime,
	 allpertask_status)
     values
     (#{allpertask_name,jdbcType=VARCHAR},#{allpertask_difficulty,jdbcType=INTEGER},
     #{allpertask_price,jdbcType=INTEGER} ,#{allpertask_award,jdbcType=INTEGER},#{allpertask_time,jdbcType=INTEGER}
     ,#{allpertask_starttime,jdbcType=INTEGER},#{allpertask_endtime,jdbcType=INTEGER}
     ,#{allpertask_status,jdbcType=INTEGER})
	</insert>
</mapper>