<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaituo.pms.dao.FileUploadRecordMapper" >
    <resultMap id="BaseResultMap" type="com.kaituo.pms.bean.FileUploadRecord" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="reading_quantity" property="readingQuantity" jdbcType="INTEGER" />
        <result column="uploadfile_user" property="uploadfileUser" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="selectAllRecord" resultMap="BaseResultMap">
        SELECT * FROM file_upload_record WHERE status=#{status} AND file_name like concat(concat('%',#{fileName}),'%')
    </select>
    <insert id="insertFileRecord" parameterType="com.kaituo.pms.bean.FileUploadRecord">
        INSERT
        INTO
        file_upload_record (file_name,uploadfile_user,status)
        VALUES
        (#{fileUploadRecord.fileName},#{fileUploadRecord.uploadfileUser},#{fileUploadRecord.status})
    </insert>
    <delete id="deleteFileRecord" parameterType="String">
        DELETE FROM file_upload_record WHERE file_name=#{fileName};
    </delete>
    <update id="updateReading" parameterType="Integer">
        UPDATE
         file_upload_record
        SET
         reading_quantity=reading_quantity+1
        WHERE
         id=#{id}
    </update>
    <update id="updateDownload" parameterType="Integer">
        UPDATE
         file_upload_record
        SET
         downloads=downloads+1
        WHERE
         id=#{id}
    </update>
    <select id="selectByFileName" parameterType="String" resultMap="BaseResultMap">
        SELECT id FROM file_upload_record WHERE file_name=#{fileName}
    </select>
    <update id="updateUserNameByFileName" parameterType="String">
         UPDATE
         file_upload_record
        SET
         uploadfile_user=#{userName}
        WHERE
         file_name=#{fileName}
    </update>
</mapper>